@import "../../styles/variables";

// css for InlineFormTextBox
.inlineTextBox {
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    width:100%;
        .listItemLeft {
            width :auto;
            justify-content :flex-start;
            padding: 0;
            white-space :nowrap;
        }
        .listItemRight,.dropDown ,.textBox{
            width:100%;
        }
    @media #{$breakpoint-lt600} {
        width: dp(968);
        .listItemLeft {
            width:100%;
        }
        .listItemRight{ padding: 0; }
    }
      
}